.container {
  border-radius: 0.25rem;
  max-width: 1250px;
}

.header {
  text-transform: uppercase;
}

.edit-description {
  input.form-control {
    width: 87%;
  }

  textarea {
    height: 500px;
    width: 100%;
  }

  .buttons {
    float: right;
  }
}

.edit-ingredients {
  height: 400px;
}

.google-logo {
  font-size: large;
  text-decoration: none;
  img {
    vertical-align: middle;
  }
}
