<div class="opaque container">
  <div class="row">
    <div class="col-4">
      <img [src]="recipe.image" class="img-fluid rounded"/>
      <div>
        <h2>{{recipe.name}}</h2>
        <a [href]="recipe.url" *ngIf="recipe.url" target="_blank">{{hostname(recipe.url)}}</a>
        <div class="justify-content-center" *ngIf="recipe.ingredients">
          <span class="header">Det här behöver du:</span>
        </div>
        <div *ngFor="let ingredient of recipe.ingredients">
          {{ingredient.number}} {{ingredient.name}}
        </div>
      </div>
    </div>
    <div class="col-8">
      <span class="header">Så här gör du</span>
      <div>
        <markdown ngPreserveWhitespaces class="col-12" title="edit-description" [data]="recipe.description"></markdown>
        <fa-icon class="edit-button" icon="pen" (click)="toggleEditMode()"></fa-icon>
      </div>
    </div>
  </div>
</div>
