<mat-card class="card container-card">
    <div [routerLink]="[index]">
        <div class="image rounded" [ngStyle]="{'backgroundImage':  'url(' + image + ')'}"></div>
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <a class="card-body" title="{{recipe.name}}">{{recipe.name}}</a>
        </mat-card-title>
    </div>
    <div class="card-footer">
        <div class="text-left float-left">
            <fa-icon icon="calendar-plus" title="Lägg till i veckomeny" (click)="addToWeekMenu()" *ngIf="!recipeAddedToWeekplan" ></fa-icon>
            <fa-icon icon="calendar-minus" title="Ta bort från veckomeny" (click)="removeRecipe()" *ngIf="recipeAddedToWeekplan" ></fa-icon>
        </div>
        <div class="text-right float-right">
          <span *ngFor="let c of recipe.categories; let isLast=last">
            {{c.name}}{{isLast ? '' : ' |'}}
          </span>
        </div>
    </div>
  </mat-card>

