.container {
  border-radius: 0.25rem;
  max-width: 1250px;
}

.header {
  text-transform: uppercase;
}

.edit-description {
}

.edit-description textarea {
  height: 500px;
}

.edit-ingredients {
  height: 400px;
}

.google-logo {
  font-size: large;
}
