@import "~styles/variables";

.card-body {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.card-footer {
  margin-right: 0;
  margin-bottom: 0;
  font-size: 12px;
  height: 43px;
}

.image {
  width: 286px;
  height: 190px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
