@import "variables";
@import "~bootstrap/scss/bootstrap";

/*html {
  margin-left: calc(100vw - 100%);
}

body {
  margin: auto;
  color: #fff;
}*/

body, html {
  height: 100%;
}

body {
  /* Center and scale the image nicely */
  background-size: cover;
  background: url("../assets/images/home.jpg") no-repeat fixed center;

  padding-top: 70px;
  color: #fff;
}

a, a:visited, a:hover, a:active {
  color: #fff;
}
