@import "variables";
@import '~ngx-toastr/toastr.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body {
  min-height: 100%;
  max-height: 100%;
}

body {
  /* Center and scale the image nicely */
  background-size: cover;
  background-image: url("../assets/images/food.jpg");
  background-attachment: fixed;
  padding-top: 70px;
}

.container {
  border-radius: 0.25rem;
  max-width: 1250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

a, a:visited, a:hover, a:active {
  color: black;
}

.opaqueNavbar {
  background-color: $navbar-background;
}

.opaque {
  background-color: $card-background;
}

.card {
  background-color: $card-background !important;
}

.rounded {
  border-radius: .25rem !important;
}

.mat-primary {
  background-color: #4CAF50 !important;
}
.mat-toolbar,
.mat-card-title {
  font-size: 1rem;
  font-weight: normal;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.form-control {
  display:block;
  // width:100%;
  padding:.275rem .55rem;
  font-size:1rem;
  line-height:1.5;
  color:#495057;
  background-color:#fff;
  background-clip:padding-box;
  border:1px solid #ced4da;
  border-radius:.25rem;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.p-1 {
  padding: 10px !important;
}

.pt-1 {
  padding-top: 10px !important;
}

.m-1 {
  margin: 10px !important;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.mt-1 {
  margin-top: 10px !important;
}

.mr-1 {
  margin-right: 10px !important;
}

.ml-1 {
  margin-left: 10px !important;
}
