@import "variables";
@import "~bootstrap/scss/bootstrap";

/*html {
  margin-left: calc(100vw - 100%);
}

body {
  margin: auto;
  color: #fff;
}*/

body, html {
  height: 100%;
}

body {
  /* Center and scale the image nicely */
  background-size: cover;
  background-image: url("../assets/images/home.jpg");
  font-weight: bold;
  padding-top: 70px;
}

a, a:visited, a:hover, a:active {
  color: black;
}

.opaque {
  background-color: $card-background;
}

.card {
  background-color: $card-background !important;
}

.editable {
  background-color: rgba(0,0,0, 0.5);
  color: white;
  border: 0;
}
