@import "~styles/variables";

.logo {
  max-width: 50px;
}

.container-fluid {
  width: 95%;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  background: white;
}

.mat-toolbar {
  * {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  a {
    text-decoration: none;
  }
}

.opaqueNavbar {
  background-color: $navbar-background;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.mat-drawer-container {
  margin-top: 64px;
}

.sidenav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .opaqueNavbar {
    display: flex;
    flex-direction: column;
    bottom: 0;
    padding: 2rem .5rem;
  }
}

.mat-sidenav-container {
  background-color: #00000000;
  flex: 1;
}
