<div *ngIf="isDesktop()">
  <mat-toolbar *ngIf="authService.user | async" class="opaqueNavbar" fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/"><img class="logo" src="../assets/images/logo.png"/></a>
    <a class="nav-link disabled" routerLink="/new">Lägg till recept</a>
    <a class="nav-link disabled" routerLink="/planning">Veckoplanering</a>
    <app-search fxFlex="stretch" #searchDesktop class="col-3 d-none d-lg-inline"></app-search>
    <span><button mat-stroked-button color="warn" (click)="authService.logout()">Logga ut {{ (authService.user | async)?.displayName }}</button></span>
  </mat-toolbar>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="isMobile()" class="sidenav">
  <mat-toolbar *ngIf="authService.user | async" class="opaqueNavbar" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-search fxFlex="70"></app-search>
    <a routerLink="/" fxLayoutAlign="center center" (click)="snav.close()"><img class="logo" src="../assets/images/logo-small.png"/></a>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #snav [fixedInViewport]="true" fixedTopGap="62">
      <mat-nav-list (click)="snav.close()">
        <a mat-list-item routerLink="/new">Lägg till recept</a>
        <a mat-list-item routerLink="/planning">Veckoplanering</a>
        <a mat-list-item (click)="authService.logout()">Logga ut {{ (authService.user | async)?.displayName }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
