.card {
  background-color: rgba(126, 123, 215, 0.2);
  min-width: 300px;
  min-height: 300px;
}

.centercard {
  height: 100%;
  margin-top: 70px;
}

.image {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.imageSmall image {
  width: 100%;
  max-width: 100px;
  height: auto;
}

