.container {
 background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.recipe {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  max-width: 1250px;
}
/*.recipeImage {
  max-height: 300px;
}*/

.header {
  text-transform: uppercase;
}

textarea {
  background-color: rgba(0,0,0, 0.5);
  color: white;
  border: 0;
}
