<div class="opaque container" (paste)="paste($event)">
  <div class="row">
    <div class="col-4">
      <img [src]="recipe.image" *ngIf="showImage" class="img-fluid rounded"/>
      <div *ngIf="!edit">
        <h2 *ngIf="!edit">{{recipe.name}}</h2>
        <a [href]="recipe.url" *ngIf="recipe.url" target="_blank">{{hostname(recipe.url)}}</a>
        <div class="justify-content-center" *ngIf="recipe.ingredients">
          <span class="header">Det här behöver du:</span>
        </div>
        <div *ngFor="let ingredient of recipe.ingredients">
          {{ingredient.number}} {{ingredient.name}}
        </div>
      </div>
      <div *ngIf="edit" class="row p-3">
        <canvas #canvas height="0" class="col-12"></canvas>
        <span>Namn</span>
        <input class="editable col-12" [(ngModel)]="recipe.name"/>
        <span>Länk</span>
        <input class="editable col-12" [(ngModel)]="recipe.url"/>
        <span>Ingredienser</span>
        <div *ngFor="let ingredient of recipe.ingredients">
          <div class="row">
            <input class="editable col-3" [(ngModel)]="ingredient.number"/>
            <input class="editable col-7" [(ngModel)]="ingredient.name"/>
            <fa-icon class="col-1" icon="trash-alt" (click)="removeIngredient(ingredient)"></fa-icon>
          </div>
        </div>
        <div class="row">
          <input class="editable col-3" [(ngModel)]="newIngredient.number"/>
          <input class="editable col-7" [(ngModel)]="newIngredient.name"/>
          <fa-icon class="col-1" icon="plus-circle" (click)="addIngredient()"></fa-icon>
        </div>
      </div>
    </div>
    <div class="col-8">
      <span class="header">Så här gör du</span>
      <div *ngIf="!edit">
        <markdown ngPreserveWhitespaces class="col-12" title="edit-description" [data]="recipe.description"></markdown>
        <fa-icon class="edit-button" icon="pen" (click)="toggleEditMode()"></fa-icon>
      </div>
      <div *ngIf="edit" class="edit-description container h-100">
        <div class="row">
          <textarea class="col-12 rounded editable" title="edit-description"
                    [(ngModel)]="recipe.description"></textarea>
        </div>
        <div class="row justify-content-around p-2">
          <button class="col-5 btn btn-danger" type="button" (click)="toggleEditMode()">Ångra</button>
          <button class="col-5 btn btn-success" (click)="save()">Spara</button>
        </div>
      </div>
    </div>
  </div>
</div>
