<div class="container centercard">
  <div class="row justify-content-md-center align-items-center centercard">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <h1>Recept</h1>
        </div>
        Välkommen till Fricks underbara mat!
        <ul>
          <li>
            <a routerLinkActive="active" routerLink="/search">Välj recept</a>
          </li>
          <li><a routerLinkActive="active" routerLink="/addRecipe">Lägg till recept</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
