.container {
  border-radius: 0.25rem;
  max-width: 1250px;
}

.header {
  text-transform: uppercase;
}

.edit-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.categories {
  text-align: center;
}
